*, *:before, *:after
  box-sizing: border-box
html
  margin: 0
body
  font: 14px "Roboto Mono", monospace
  background: hsla(0, 0%, 7%, 1.00)
  color: #fff
  padding: 5em 0 9em 0;
a
  color: #fff

.users
  position: fixed
  top: 0
  width: 100%
  padding: 1.5em 0
  margin: 0 10px
  background: hsla(0, 0%, 7%, 0.8)
.user-item
  display: inline
  padding-right: .7em

.input
  position: fixed
  bottom: 0
  width: 100%
  input
    background: hsla(0, 0%, 7%, 0.8)
    color: #fff
    border: 0
    font-family: "Roboto Mono", monospace
    width: 100%
    font-size: 1em
    padding-bottom: 1em
    padding-top: 1em
    outline: none
    margin: 0
    :focus, :active
      outline: none

.notification
  float: left
  width: calc(100% - 20px)
  margin: 10px
  font-style: italic

.message
  content: " ";
  display: block;
  height: 0;
  clear: both;

.context
  float: left
  width: calc(1/3 * 100% - 20px)
  margin: 10px

.content
  float: left
  width: calc(2/3 * 100% - 20px)
  margin: 10px

.user
  font-weight: 500
  display: block
